<section class="page-404">
  <div class="container">
    <h1>404</h1>
    <h2>{{ 'general.404.title' | t }}</h2>
    <p class="text-muted">{{ 'general.404.subtext' | t }}</p>
    <a href="{{ routes.root_url }}" class="btn btn--primary btn--lg mt-md">{{ 'general.404.link' | t }}</a>
  </div>
</section>

{% schema %}
{
  "name": "404",
  "settings": []
}
{% endschema %}
